{:paths ["src"]
 :deps {
        io.github.kotoba-lang/text
        {:git/url "https://github.com/kotoba-lang/text.git"
         :git/sha "73bdb13ae7a3d004b44bca08be03a3191157a38f"}
        io.github.kotoba-lang/fs-sep
        {:git/url "https://github.com/kotoba-lang/fs-sep.git"
         :git/sha "3fec91a22dd07fc07e941dd342ac809e2abad0db"}
        io.github.kotoba-lang/fs-split
        {:git/url "https://github.com/kotoba-lang/fs-split.git"
         :git/sha "2bf33c8e48d3316ca345a1cf59347f7b35f9882c"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
